.search-wrapper{
  position: relative;
  width: 100%;

  .search-input {
    width: 100%;
    border: 1px solid var(--theme-tag-background-color);
    border-radius: 3px;
    padding: 8px 0px 8px 8px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
  }
  
  .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0;
    background: var(--theme-tag-background-color);
    color: var(--theme-tag-color);
    outline: none;
    margin: 0;
    padding: 0 8px;
    border-radius: 3px;
    z-index: 2;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}


