@import '~normalize.css';

* {
  font-weight: 400;
  font-family: 'Helvetica', 'Roboto', 'Arial', 'sans-serif';
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

:root {
  --theme-tag-color: hsl(205,47%,42%);
  --theme-tag-background-color: hsl(205,46%,92%);
  --theme-tag-border-color: transparent;
}
